<app-menu></app-menu>
<div class="container mat-elevation-z8" >
   
    <div class="row">
        <mat-toolbar color="primary" >    
        <span>Asignación Opcion</span>    
        </mat-toolbar>  
    </div>

    <div class="row" style="margin-top: 3%">
        <mat-form-field class="col-md-4">
            <mat-label>Rol</mat-label>
            <mat-select [(ngModel)]="rol"  (selectionChange)="cargaOpcion()" >
                <mat-option value="-1"> [Seleccione] </mat-option>
                <mat-option *ngFor="let x of lstRol" [value]="x.idRol">
                    {{x.nombre}}
                </mat-option>   
            </mat-select> 
        </mat-form-field> 

        <mat-form-field class="col-md-4">
            <mat-label>Opcion</mat-label>
            <mat-select [(ngModel)]="opcion">
                <mat-option value="-1"> [Seleccione] </mat-option>
                <mat-option *ngFor="let x of lstOpcion" [value]="x.idOpcion">
                    {{x.nombre}}
                </mat-option>   
            </mat-select> 
        </mat-form-field> 
        
        <button mat-raised-button color="primary" (click)="registraOpcion()" type="button" class='btn btn-primary btn-sm' style="width: 100px">Agregar</button>

       
    </div>


    <div class="row" style="margin-top: 3%">
        <mat-table  #table  class="mat-cell" [dataSource]="dataSource" >
              <ng-container matColumnDef="idOpcion">
                <mat-header-cell  mat-header-cell *matHeaderCellDef >Código</mat-header-cell>
                <mat-cell *matCellDef="let aux" >{{ aux.idOpcion  }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="nombre">
                <mat-header-cell  mat-header-cell *matHeaderCellDef >Nombre</mat-header-cell>
                <mat-cell *matCellDef="let aux" >{{ aux.nombre}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="ruta">
                <mat-header-cell  mat-header-cell *matHeaderCellDef >Ruta</mat-header-cell>
                <mat-cell *matCellDef="let aux" >{{ aux.ruta}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="estado">
                <mat-header-cell  mat-header-cell *matHeaderCellDef >Estado</mat-header-cell>
                <mat-cell *matCellDef="let aux" >{{ aux.estado}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="tipo">
                <mat-header-cell  mat-header-cell *matHeaderCellDef >Tipo</mat-header-cell>
                <mat-cell *matCellDef="let aux" >{{ aux.tipo}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="actions">
                <mat-header-cell  mat-header-cell *matHeaderCellDef >&nbsp;</mat-header-cell>
                <mat-cell *matCellDef="let aux; let i=index;">
                    <button mat-raised-button color="primary"  (click)="eliminaOpcion(aux)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
              </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let aux; columns: displayedColumns"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[6,8,10]" showFirstLastButtons></mat-paginator>
  </div>

 </div>