.container {
  display: flex;
  flex-direction: column;
  min-width: 800px;
  min-height: 400px;
}
/*CORTEZ*/
.container > * {
  width: 100%;
}
/*CORTEZ*/
.form {
  display: flex;
  padding-top: 6px;
}
/*CORTEZ*/
.mat-form-field {
  font-size: 16px;
  flex-grow: 1;
}
/*CORTEZ*/